header{
    background-color: #222;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 2rem;
    .logo-header img{
        width: 50px;
    }
    .nav-menu ul{
        display: flex;
        align-items: center;
        list-style: none;
    }
    & li{
        margin-right: 1rem;
    }
    & li:last-child{
        background:#4ad295;
        padding: .25rem .75rem;
        border-radius: .2rem;
    }
    & a{
        color: #fff;
    }
}
.h1{
    text-align: center;
    color: black;
    background-color: burlywood;
   
}
